### Explication

In [43]:
import pandas as pd
import numpy as np

### Using pandas.read_html to read the wikipedia webpage https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [71]:
df_pc = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df_pc=pd.DataFrame(df_pc[0])

<class 'list'>
<class 'pandas.core.frame.DataFrame'>

In [59]:
codes = {'M5G':0,'M2H':1,'M4B':2,'M1J':3, 'M4G':4, 'M4M':5, 'M1R':6, 'M9V':7, 'M9L':8, 'M5V':9, 'M1B':10, 'M5A':11}

#### Deleting the rows of df_pc with NaN value

In [70]:
df_pc=df_pc.dropna()
df_pc.shape

(103, 3)

<lu>
    <li>We create a dictionary <b>tab1</b></li> 
    <li>For each row of df_pc, <br> 
    <li>We put the values in the dictionary <b>tab1</b>,</li>  <br> 
</lu>
<lu>
    <li>We transforme the dictionary <b>tab1</b> to a dataframe <b>df_tab1</b></li>
    <li>We rename the column <b>Postal code</b> to <b>PostalCode</b></li>
    <li>We convert the the '/' by ','</li>
</lu>

In [38]:
tab1={}
for i in range(103):
    if df_pc.iloc[i]["Postal code"] in codes:
        idx=codes[df_pc.iloc[i]["Postal code"]]
        tab1[idx] = df_pc.iloc[i]
        
df_tab1=pd.DataFrame(tab1).transpose()
df_tab1=df_tab1.rename(columns={"Postal code": "PostalCode"}).sort_index()
df_tab1= df_tab1.replace(to_replace="\/", value=",", regex=True)
df_tab1

,PostalCode,Borough,Neighborhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Parkview Hill , Woodbine Gardens"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Wexford , Maryvale"
7,M9V,Etobicoke,"South Steeles , Silverstone , Humbergate , Jam..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower , King and Spadina , Railway Lands , ..."
10,M1B,Scarborough,"Malvern , Rouge"
11,M5A,Downtown Toronto,"Regent Park , Harbourfront"

In [39]:
### Using csv file to g√©nerate the dataframe df_geo

In [40]:
df_geo = pd.read_csv("http://cocl.us/Geospatial_data").dropna()
#df_geo

<lu>
    <li>We create a dictionary <b>tab2</b></li> 
    <li>For each row of df_geo, <br> 
    <li>We put the values in the dictionary <b>tab2</b>,</li>  
</lu>
<lu>
    <li>We transforme the dictionary <b>tab2</b> to a dataframe <b>df_tab2</b></li>
    <li>We rename the column <b>Postal code</b> to <b>PostalCode</b></li>
</lu>

In [41]:
tab2={}
for i in range(103):
    if df_geo.iloc[i]["Postal Code"] in codes:
        idx=codes[df_geo.iloc[i]["Postal Code"]]
        tab2[idx] = df_geo.iloc[i]
        
df_tab2=pd.DataFrame(tab2).transpose().sort_index()
df_tab2=df_tab2.rename(columns={"Postal Code": "PostalCode"})
#df_tab2

#### Using pandas merging to merge the 2 dataframes df_tab1 and df_tab2 to obtain df

In [42]:
df=pd.merge(df_tab1, df_tab2)
df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M5G,Downtown Toronto,Central Bay Street,43.658,-79.3874
1,M2H,North York,Hillcrest Village,43.8038,-79.3635
2,M4B,East York,"Parkview Hill , Woodbine Gardens",43.7064,-79.3099
3,M1J,Scarborough,Scarborough Village,43.7447,-79.2395
4,M4G,East York,Leaside,43.7091,-79.3635
5,M4M,East Toronto,Studio District,43.6595,-79.3409
6,M1R,Scarborough,"Wexford , Maryvale",43.7501,-79.2958
7,M9V,Etobicoke,"South Steeles , Silverstone , Humbergate , Jam...",43.7394,-79.5884
8,M9L,North York,Humber Summit,43.7563,-79.566
9,M5V,Downtown Toronto,"CN Tower , King and Spadina , Railway Lands , ...",43.6289,-79.3944
10,M1B,Scarborough,"Malvern , Rouge",43.8067,-79.1944
11,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.6543,-79.3606